.main-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      img {
        width: 60%;
        height: auto;
        padding-right: 1.6rem;
      }

      .text {
        text-align: left;

        h1 {
          font-size: 2.2vw;
          margin-bottom: 0.6rem;
          color: #4d7565;

        }

        h2 {
          font-size: 2.2vw;
          color: #2d493e;
        }

        p {
          font-size: 2vw;
          margin-bottom: 1rem;
          color: #4d7565;
          font-weight: 500;
        }
      }
    }
  }
}
@media screen and (min-width: 500px) {
  .main-container {
    .main {
      .main-content {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        img {
          height: auto;
        }

        .text {
          text-align: left;

          h1 {
            font-size: 2.6vw;
            margin-bottom: 0.8em;
            
            color: #4d7565;
          }

          h2 {
            font-size: 2.2vw;
            color: #2d493e;
          }

          p {
            font-size: 2.2vw;
            margin-bottom: 1rem;
            color: #4d7565;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    .main {
      .main-content {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        img {
          width: 50%;
          margin-right: 1.6rem;
        }

        .text {
          width: 40%;

          h1 {
            font-size: 3vw;
          }
          h2 {
            font-size: 2.4vw;
          }
          p {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .main-container {
    .main {
      .main-content {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        img {
          width: 35%;
          margin-bottom: 2rem;
          margin-right: 2rem;
        }

        .text {
          width: 40%;
          padding-left: 0;

          h1 {
            font-size: 2.8vw;
            margin-bottom: 2rem;

          }
          h2 {
            font-size: 1.8vw;
            margin-bottom: 1rem;

          }
          p {
            font-size: 1.6vw;
          }
        }
      }
    }
  }
}
