
.footer {
    background-color: #2d493e; // Cor de fundo
    height: 50px; // Altura do footer
    display: flex;
    justify-content: center; // Centraliza o conteúdo
    align-items: center; // Centraliza verticalmente
    margin-top: 2rem; // Espaçamento superior
  }
  